section {
  max-width: 500px;
  margin: auto;
  padding: 0.5em;
}

button {
  padding: 1em;
}

label {
  margin-right: 1em;
}

input {
  width: 32em;
}

textarea {
  width: 32em;
  height: 5em;
}

#accounts {
  white-space: pre-wrap;
}
