name: Tests

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  test-chrome:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'yarn'

      - name: Build evmd
        run: ./scripts/evmd/build.sh
      - name: Start evmd
        run: RUNNER_TRACKING_ID="" && ./scripts/evmd/start.sh &
      - name: Start slow evmd
        run: RUNNER_TRACKING_ID="" && ./scripts/evmd/slow_start.sh &
      - name: Start wasmd
        run: RUNNER_TRACKING_ID="" && ./scripts/wasmd/start.sh &
      - name: Start simapp
        run: RUNNER_TRACKING_ID="" && ./scripts/simapp50/start.sh &
      - name: Start slow simapp
        run: RUNNER_TRACKING_ID="" && ./scripts/simapp50/slow_start.sh &
      - name: Start Tendermint blockchains
        run: RUNNER_TRACKING_ID="" && ./scripts/tendermint/all_start.sh &
      - name: Start socket server
        run: RUNNER_TRACKING_ID="" && ./scripts/socketserver/start.sh &
      - name: Start http server
        run: RUNNER_TRACKING_ID="" && ./scripts/httpserver/start.sh &

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache --check-cache

      - name: Build
        run: yarn build

      - name: Initialize evmd
        run: ./scripts/evmd/init.sh
      - name: Initialize wasmd (deploy contracts and friends)
        run: ./scripts/wasmd/init.sh

      - name: Test
        env:
          EVMD_ENABLED: 1
          SLOW_EVMD_ENABLED: 1
          HTTPSERVER_ENABLED: 1
          SIMAPP50_ENABLED: 1
          SLOW_SIMAPP50_ENABLED: 1
          TENDERMINT_ENABLED: 1
          SOCKETSERVER_ENABLED: 1
          SKIP_BUILD: 1
          WASMD_ENABLED: 1
        run: yarn test-chrome

  test:
    strategy:
      matrix:
        node-version: [22, 24, 25]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "${{ matrix.node-version }}"
          cache: 'yarn'

      - name: Build evmd
        run: ./scripts/evmd/build.sh
      - name: Start evmd
        run: RUNNER_TRACKING_ID="" && ./scripts/evmd/start.sh &
      - name: Start slow evmd
        run: RUNNER_TRACKING_ID="" && ./scripts/evmd/slow_start.sh &
      - name: Start wasmd
        run: RUNNER_TRACKING_ID="" && ./scripts/wasmd/start.sh &
      - name: Start simapp
        run: RUNNER_TRACKING_ID="" && ./scripts/simapp50/start.sh &
      - name: Start slow simapp
        run: RUNNER_TRACKING_ID="" && ./scripts/simapp50/slow_start.sh &
      - name: Start Tendermint blockchains
        run: RUNNER_TRACKING_ID="" && ./scripts/tendermint/all_start.sh &
      - name: Start socket server
        run: RUNNER_TRACKING_ID="" && ./scripts/socketserver/start.sh &
      - name: Start http server
        run: RUNNER_TRACKING_ID="" && ./scripts/httpserver/start.sh &

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache --check-cache

      - name: Build
        run: yarn build

      - name: Initialize evmd
        run: ./scripts/evmd/init.sh
      - name: Initialize wasmd (deploy contracts and friends)
        run: ./scripts/wasmd/init.sh

      - name: Test
        env:
          EVMD_ENABLED: 1
          SLOW_EVMD_ENABLED: 1
          HTTPSERVER_ENABLED: 1
          SIMAPP50_ENABLED: 1
          SLOW_SIMAPP50_ENABLED: 1
          TENDERMINT_ENABLED: 1
          SOCKETSERVER_ENABLED: 1
          SKIP_BUILD: 1
          WASMD_ENABLED: 1
          SES_ENABLED: 1
        run: yarn run test

  test-backends:
    strategy:
      matrix:
        backend: ["simapp47", "simapp50", "simapp53", "evmd"]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'yarn'

      - name: Build evmd
        if: matrix.backend == 'evmd'
        run: ./scripts/evmd/build.sh
      - name: Start evmd
        if: matrix.backend == 'evmd'
        run: RUNNER_TRACKING_ID="" && ./scripts/evmd/start.sh &
      - name: Start slow evmd
        if: matrix.backend == 'evmd'
        run: RUNNER_TRACKING_ID="" && ./scripts/evmd/slow_start.sh &
      - name: Start wasmd
        run: RUNNER_TRACKING_ID="" && ./scripts/wasmd/start.sh &
      - name: Start simapp
        if: startsWith(matrix.backend, 'simapp')
        run: RUNNER_TRACKING_ID="" && ./scripts/${{ matrix.backend }}/start.sh &
      - name: Start slow simapp
        if: startsWith(matrix.backend, 'simapp')
        run: RUNNER_TRACKING_ID="" && ./scripts/${{ matrix.backend }}/slow_start.sh &
      - name: Start Tendermint blockchains
        run: RUNNER_TRACKING_ID="" && ./scripts/tendermint/all_start.sh &
      - name: Start socket server
        run: RUNNER_TRACKING_ID="" && ./scripts/socketserver/start.sh &
      - name: Start http server
        run: RUNNER_TRACKING_ID="" && ./scripts/httpserver/start.sh &

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache --check-cache

      - name: Build
        run: yarn build

      - name: Initialize evmd
        if: matrix.backend == 'evmd'
        run: ./scripts/evmd/init.sh
      - name: Initialize wasmd (deploy contracts and friends)
        run: ./scripts/wasmd/init.sh

      - name: Test
        env:
          HTTPSERVER_ENABLED: 1
          TENDERMINT_ENABLED: 1
          SOCKETSERVER_ENABLED: 1
          SKIP_BUILD: 1
          WASMD_ENABLED: 1
        run: |
          [ "${{ matrix.backend }}" = "simapp47" ] && export SIMAPP47_ENABLED=1 SLOW_SIMAPP47_ENABLED=1
          [ "${{ matrix.backend }}" = "simapp50" ] && export SIMAPP50_ENABLED=1 SLOW_SIMAPP50_ENABLED=1
          [ "${{ matrix.backend }}" = "simapp53" ] && export SIMAPP53_ENABLED=1 SLOW_SIMAPP53_ENABLED=1
          [ "${{ matrix.backend }}" = "evmd" ] && export EVMD_ENABLED=1 SLOW_EVMD_ENABLED=1
          yarn run test
