name: Tests

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  test:
    strategy:
      matrix:
        node-version: ["18", "20", "22", "24"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "${{ matrix.node-version }}"
          cache: 'yarn'

      - name: Start wasmd
        run: RUNNER_TRACKING_ID="" && ./scripts/wasmd/start.sh &
      - name: Start simapp
        run: RUNNER_TRACKING_ID="" && ./scripts/simapp50/start.sh &
      - name: Start slow simapp
        run: RUNNER_TRACKING_ID="" && ./scripts/simapp50/slow_start.sh &
      - name: Start Tendermint blockchains
        run: RUNNER_TRACKING_ID="" && ./scripts/tendermint/all_start.sh &
      - name: Start socket server
        run: RUNNER_TRACKING_ID="" && ./scripts/socketserver/start.sh &
      - name: Start http server
        run: RUNNER_TRACKING_ID="" && ./scripts/httpserver/start.sh &

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache --check-cache

      - name: Build
        run: yarn build

      - name: Initialize wasmd (deploy contracts and friends)
        run: ./scripts/wasmd/init.sh

      - name: Test
        env:
          HTTPSERVER_ENABLED: 1
          SIMAPP50_ENABLED: 1
          SLOW_SIMAPP50_ENABLED: 1
          TENDERMINT_ENABLED: 1
          SOCKETSERVER_ENABLED: 1
          SKIP_BUILD: 1
          WASMD_ENABLED: 1
          SES_ENABLED: 1
        run: yarn test --stream
      - name: Run CLI selftest
        working-directory: packages/cli
        env:
          SKIP_BUILD: 1
        run: yarn selftest
      - name: Run CLI examples
        working-directory: packages/cli
        env:
          HTTPSERVER_ENABLED: 1
          SIMAPP50_ENABLED: 1
          SLOW_SIMAPP50_ENABLED: 1
          TENDERMINT_ENABLED: 1
          SOCKETSERVER_ENABLED: 1
          SKIP_BUILD: 1
          WASMD_ENABLED: 1
        run: ./run_examples.sh
